<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1 th:text="${title}"></h1>
    <div th:if="${users.isEmpty()}">No se encontró ningún usuario</div>

    <table>
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Apellido de usuario</th>
                <th>Correo electronico</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <td th:if="${not (user.email != null)}" th:text="${'Email no encontrado'}"></td>
            </tr>
        </tbody>
    </table>
    <div class="botones">
        <a href="/api/list">api list</a>
        <a href="/api/list-users">api list users</a>
        <a href="/">Inicio</a>
    </div>
</body>
</html>